@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("img/backgroundz-music.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "poppins", sans-serif;
}

h1 {
  font-size: 85px;
  background: linear-gradient(45deg, #65f1f8, #fb3b9e, #faef5d);
  text-transform: uppercase;
  text-align: center;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  line-height: 100px;
}

h1.light {
  font-size: 45px;
}

h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 7px;
}

h5 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin: 0.8rem 0 0.5rem 0;
  letter-spacing: 0.5px;
}

.container {
  max-width: 550px;
  width: 80%;
  box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 0.463);
  padding: 2rem;
  color: 000;
  border-radius: 5px;
  /* background-color: #dddddd; */
  background-color: #ffffffaf;
  transition: all 0.6s ease-in;
}

.container p {
  color: #270222d3;
}

.container_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  border-radius: 25px;
  color: #fff;
  font-family: inherit;
  transition: 0.1s ease-in-out;
  box-shadow: 0px 0px 20px -5px rgb(255, 255, 255);
}

.btn:hover {
  transform: translateY(-2px);
}

.menu_start,
.menu_diff,
.menu_mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_diff .ket {
  font-size: 12px;
  color: #660b5b;
}

.btn_start,
.btn_mode,
.btn_diff {
  width: 170px;
  height: 50px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 1.2rem 0;
  transition: all 0.3 ease;
}

.btn_back,
.btn_check {
  width: 120px;
  height: 38px;
  margin: 0;
}

.btn_start {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 0.589);
  background-image: linear-gradient(45deg, #65f1f8, #fb3b9e, #faef5d);
  background-clip: border-box;
  color: #fff;
  transition: all 0.3 ease;
}

.btn_start:hover {
  transform: translateY(-2px);
  border: 3px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, #65f1f8, #fb3b9e, #faef5d);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #cc5283;
}

.container .btn:focus {
  transform: scale(0.95);
  outline: none;
}

.container h2 {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(180deg, #75013dbb, #f335a1);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 1rem 0;
}

.container h3 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.container .grad1 {
  background-image: linear-gradient(240deg, #d0108ad8, #2770cfd8);
  background-clip: border-box;
  background-origin: border-box;
}

.container .grad2 {
  background-image: linear-gradient(60deg, #dc3bcc, #f5674be3);
  background-clip: border-box;
  background-origin: border-box;
}

.container .grad1:hover {
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(240deg, #d0108ad8, #2770cfd8);
  background-origin: border-box;
  background-clip: content-box, border-box, padding-box;
  color: #d0108ad8;
}

.container .grad2:hover {
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(60deg, #dc3bcc, #f5674be3);
  background-origin: border-box;
  background-clip: content-box, border-box, padding-box;
  color: #dc3bcc;
}

.hide_notes {
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 7px;
  width: 20%;
  margin: 0 auto;
  color: #fff;
  box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 0.589);
  background-image: linear-gradient(45deg, #8519afbf, #fa3c9ed4, #fe9655);
  background-clip: border-box;
  transition: all 0.3s ease-in-out;
}

.hide_notes:hover {
  transform: translateY(-2px) scale(1.01);
}

.message {
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.notes_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 0 0;
}

.notes_data input {
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0.6rem 1.5rem;
  font-size: 0.9rem;
  border: 1px solid #ddd;
}

.notes_data button {
  margin-top: 0.5rem;
  display: block;
}

.content p {
  text-align: right;
  justify-content: space-evenly;
  margin: 12px 0 0 0;
  font-size: 1rem;
}

.multiple .content {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.piano {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiple .notes_data {
  display: flex;
  position: relative;
  margin: 0.5rem 0;
}

.multiple .mayor {
  display: flex;
}

.mayor .option {
  width: 70px;
  height: 150px;
  background-color: white;
  border: 0px solid;
  margin-right: 1px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.mayor .option:hover {
  background-color: #ececec;
}

.minor1,
.minor2 {
  display: flex;
  position: absolute;
}

.minor1 {
  top: 0;
  left: 50px;
}

.minor2 {
  top: 0;
  left: 262px;
}

.minor1 .opt,
.minor2 .opt {
  width: 40px;
  height: 100px;
  background-color: #171717;
  border: 0px solid;
  margin-right: 33px; /* Adjust spacing between black keys */
  z-index: 2;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.minor1 .opt:hover,
.minor2 .opt:hover {
  background-color: #363636;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .mayor .option {
    width: 42px;
  }

  .minor1 .opt,
  .minor2 .opt {
    width: 25px;
    margin-right: 18px;
  }

  .minor1 {
    left: 30px;
  }
  .minor2 {
    left: 160px;
  }
}
